/*
  Especificidade
  É um cálculo matemático onde cada tipo de seletor e origem de estilo possuem valores a serem considerados

  0.    Universal selector, combinators e nagation pseudo-class (:not())
  1.    Element type selector e pseudo-elements (::before, ::after)
  10.   Classes e attribute selectors ([type="radio"])
  100.  ID selector
  1000. Inline
*/

* {
  color: green;
}

p.lorem#lorem3 {
  color: orange;
}

#lorem {
  color: blue;
}

p, .lorem, #lorem2 {
  color: yellow;
}

.lorem {
  color: red;
}

h2 {
  color: gray;
}